.projectsContainer {
  background-image: linear-gradient(to top left, #0f0f11, #1d1d1e);
  padding: 6rem 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*--bp-small = 736 / 16px = 46em */
@media only screen and (max-width: 46em) {
  .projectsContainer {
    grid-template-columns: 1fr;
    padding: 2rem 2rem;
  }
}

.main {
  font-family: var(--font-about);
  color: var(--text-color);
}

.projectsList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 3rem;
}

/* --bp-large: 56.5em; /*  904px /16px */
@media only screen and (max-width: 56.5em) {
  .projectsList {
    grid-template-columns: minmax(0, 1fr);
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--backboreder-color);
  border-radius: 0.6rem;
  flex: 1;
  padding: 2rem;
  margin-bottom: 0.5rem;
}

.project:hover {
  background: var(--backboreder-color);
}

.project:hover .jsSvg {
  color: yellow;
}

.project:hover .reactSvg {
  color: cyan;
}

.project:hover .gameSvg {
  color: purple;
}

.project:hover .nextSvg {
  color: white;
}

.project:hover .reduxSvg {
  color: #ba8fff;
}

.project:hover .projectArrow {
  color: white;
}

.li {
  display: flex;
  flex-direction: column;
}

.hor {
  border-color: var(--hor-color);
  border-top-width: 1px;
  margin: 3em 0;
}

.par {
  margin-top: 1em;
  color: var(--link-color);
  font-size: 1.2rem;
}

.mainTitle {
  font-size: 3rem;
  line-height: 2.5rem;
}

.techHead {
  font-size: 1.5rem;
}

.date {
  color: white;
  display: inline-block;
}

.projectHeading {
  font-size: 2rem;
}

.projectName {
  margin-top: 1rem;
  color: white;
  font-family: var(--font-base);
}

.projectDescr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.jsSvg {
  width: 1.5rem;
  height: 1.5rem;
}

.reactSvg {
  width: 1.5rem;
  height: 1.5rem;
}

.gameSvg {
  width: 1.5rem;
  height: 1.5rem;
}

.nextSvg {
  width: 1.5rem;
  height: 1.5rem;
}

.reduxSvg{
  width: 1.5rem;
  height: 1.5rem;
}

.projectArrow {
  align-self: end;
  width: 1.5rem;
  height: 1.5rem;
}

.svgContainer {
  display: flex;
  justify-content: space-between;
}

.aditionLinks {
  display: flex;
  gap: 1rem;
}

.aditionLink {
  border: 1px solid var(--backboreder-color);
  border-radius: 0.6rem;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  font-family: var(--font-base);
  font-size: 1rem;
  text-decoration: none;
  color: var(--link-color);
}

.aditionLink:hover {
  color: white;
  background: var(--backboreder-color);
}
