.aboutContainer {
  background-image: linear-gradient(to top left, #0f0f11, #1d1d1e);
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 6rem 2rem;
}

/*--bp-small = 736 / 16px = 46em */
@media only screen and (max-width: 46em) {
  .aboutContainer {
    grid-template-columns: 1fr;
    padding: 2rem 2rem;
  }
}

.main {
  font-family: var(--font-about);
  color: var(--text-color);
}

.parList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  margin-bottom: 3em;
}

.title {
  font-size: 3rem;
  line-height: 2.5rem;
}

.hor {
  border-color: var(--hor-color);

  border-top-width: 1px;
  margin: 3em 0;
}

.contacts {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
}

.contactLink {
  text-decoration: none;
  color: var(--link-color);
  border-radius: 0.6rem;
}

.contactLink:hover {
  color: white;
  background: var(--backboreder-color);
}

.svgContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--backboreder-color);
  border-radius: 0.6rem;
}

.linkText {
  font-size: 1.5rem;
}

.techList {
  font-size: 1.2rem;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin-left: 1.25rem;
}
/* bp-large = 904px / 16px = 56.5em */
@media only screen and (max-width: 56.5em) {
  .techList {
    grid-template-columns: 1fr;
  }
}

.techItem {
  margin-bottom: 0.7rem;
}
